<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 14 years of experience as a software engineer, and have worked in organizations ranging from 15-40,000 employees.
			
        </p>
        <p>
           I love building things. I love engineering solutions.  I think of myself as Macgyver.  I take what is available to me and
		   come up with a solution in the most economical fashion.  It's easy to have everything handed to you to build something. I like challenges
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Developed applications to save hundreds of hours of manual work.
    			</li>
          <li>
            Architected a rules engine to simply execution  utilizing the command pattern.</li>
          <li>
            Worked on enterprise scale application used by millions of customers.
</li>
<li>
            Implemented CI/CD via TeamCity.
</li>
<li>
            Lead a team of developers and analyst to deliver stories on time.
</li>
<li>
           Contributed to development of an application allowing developers to monitor their code quality on a complex solution
</li>
<li>
           Extract, transform, and loaded over 100 million data records.
</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
