<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Woodworking</b>. I have always been fascinated by the engineering behind joints with woodworking.  Using the right joint for the right situation.
				 Their strengths and weakenesses lend credence to software engineering.
			  </li>
			  <li>
				  <b>Golf</b>. Relaxing yet competitive.  Allows for excercise and fresh air.
			  </li>
			  <li>
				  <b>Music</b>. I studied music theory in college and have self taught myself guitar.  I mess around on the piano as much as I can.
      </li>
	  <li>
				  <b>Card games</b>. I have been playing cards since I was about 10 years old.  Pinochle, Euchre, Spades, Poker, Cannasta and the list goes on.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Attached two thermocouples to a raspberry pi running python that texts my phone when temperature is above or below a certain threshold.
		  We had an issue where the refrigerator/freezer would randomly stop and this was a way to stop food from spoiling while trying to figure 
		  out the issue
    		</li>
  			<li>
          Building craftroom for my family.
  			</li>
  		    </ul>

      </div>
    </div>
  </div>
</section>
